html,body{
    background-color: rgb(240, 240, 240);

}

 div,p{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }


 .ac{
     text-align: center;
 }
 .h100{
     height:100%
 }

 #root{
     height: 100%;
 }
