html,body{
    background-color: rgb(240, 240, 240);

}

 div,p,span{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .avatar{
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
 }


 .tac{
     text-align: center;
 }
 .br{
    border-radius: 1rem;
 }
 .h100{
     height:100%
 }

 #root{
     height: 100%;
 }
