<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App</title>
  <!-- iconfont -->
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_2213506_ee95wi13cde.css">
  <!-- 高德地图API -->
  <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css" />
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f2153056d9948e79a98eb0fdcd4c970c"></script>
  <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
</html>