html,body{
    height: 100%;
}

div,p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    // background-color: black;
    padding: 0 200px;
    .header{
        padding: 10px;
        height: 200px;
    }
    .body{
        padding: 10px;
        border: 1px solid black;
    }
    .footer{
        padding: 10px;
    }
}

