


.layout{
    height: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    .header{
        // height: 150px;
        background-color: white;
        padding: 20px;
        margin-bottom: 5px;
    }
    .body{
        flex:1;
        background-color: white;
        padding: 40px;
        margin-bottom: 5px;
    }
    .footer{
        background-color: white;
        padding: 10px 20px;
    }

    .chating_box{
   border: 1px solid rgb(201, 201, 201);
        background-color: white;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        .window{
            padding: 10px 20px;
            height: 200px;
            width: 300px;
            overflow: auto;
        }
    }
}

